body{ 
  background-image: url('mario.jpg');
  background-repeat:no-repeat;
  background-position: left-bottom;
  background-size: 100% 100%;
}

.navbar{

    font-family: lato;
    width:100%;
    background-color: rgb(42, 143, 184);
    overflow: auto;
    text-align: center;
}
.navbar a{
    font-family: lato;
    float:left;
    padding:5px;
    color:white;
    text-decoration:none;
    font-size:27px;
    width:31%;
    text-align:center;
}
.navbar a:hover{
    background-color: rgb(25, 167, 56);
}
ul{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:5BB2CE;
  text-align: center;
}
li{
  float:left;
  font-size: 20px;

}
li a{
  display:block;
  color:white;
  text-align: center;
  padding:10px 30px;
  text-decoration: none;
}
li a:hover{
  background-color: white;
  color: azure;
}
h1{
  width:100%;
  color:white;
  font-family: lato;
  font-size: 75px;
  text-align: center;
  text-shadow: 10px 20px grey;

}
h2{
  font-size: 40px;
  color:white;
  text-align: center;
  margin-top: 80px;
  font-family: lato;
}

table{
  font-family: lato;
  border-collapse: collapse;
  width: 70%;
  text-align: center;
  margin-top: 80px;
}
th{
  font-size: 20px;
  text-align: left;
  /*padding-top: 40px;*/
  background-color: #6bbe30;
  padding: 8px

}
td{
  font-size: 15px;
  text-align: left;
  padding: 8px
}
/* seems to not be working currently... not sure why. definitely coded correctly. tr: nth-child(odd)
tr: nth-child(2n+1)
{
  color: #6bbe30;
}
tr;nth-child(even)
{
  color: white;
} */

.footer{
  position:fixed;
  left:0;
  bottom:0;
  width: 100%;
  background-color:#6bb330;
  color:white;
  text-align: center;
}
